n8n_workflows/01_persona_generation.json
{
  "name": "TechSparks — 01 Persona Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Runs every 6 hours. Change to manual trigger for one-off runs."
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": "{{ $env.GSHEET_DOC_ID }}",
        "sheetName": "Master",
        "options": {
          "headerRow": 1,
          "returnAllColumns": true
        }
      },
      "name": "Read Enriched Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "1", "name": "Google Sheets" } },
      "notes": "Reads all rows from the Master sheet. Filters happen in the next node."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.persona_summary }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.confidence_flag }}",
              "operation": "notEqual",
              "value2": "LOW"
            },
            {
              "value1": "={{ $json.enrichment_status }}",
              "operation": "equal",
              "value2": "enriched"
            }
          ]
        },
        "combineOperation": "all"
      },
      "name": "Filter: Needs Persona",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "Only process rows where: persona is empty AND enrichment succeeded AND not already LOW confidence."
    },
    {
      "parameters": {
        "functionCode": "// Build the prompt for this contact\nconst c = $input.item.json;\n\n// Select prompt variant based on industry\nlet systemPrompt;\nlet userContent;\n\nconst industry = c.industry_vertical || '';\n\nif (industry === 'VC/PE') {\n  systemPrompt = `You are a B2B sales intelligence assistant. Generate a persona profile for a VC/PE investor attending TechSparks 2024. STRICT RULES: 1. Use ONLY the fields provided. Do not invent portfolio companies or investment history. 2. Avoid generic phrases. 3. Output valid JSON only. The product angle: portfolio companies need pricing and competitive intelligence.`;\n} else if (industry === 'Government') {\n  systemPrompt = `You are a B2B sales intelligence assistant. This contact works in government. They are low priority. Generate a minimal, neutral persona. Output valid JSON only.`;\n} else {\n  systemPrompt = `You are a B2B sales intelligence assistant helping a GTM team personalize outreach for TechSparks 2024 attendees. STRICT RULES: 1. Use ONLY the fields provided in the input JSON. Do not invent job history, funding amounts, or personal details. 2. Do not use generic phrases like: passionate about, thought leader, driving innovation, seasoned professional, dynamic, visionary, at the forefront. 3. Output must be valid JSON only — no markdown, no preamble. 4. Keep persona_summary under 60 words, context_hook under 50 words. 5. If data is insufficient, set confidence to LOW and keep text minimal. Product context: a YC-backed data intelligence platform for pricing intelligence, competitive benchmarking, and data automation.`;\n}\n\n// Only pass fields the LLM should reason about\nconst allowed = ['name','title','company','seniority_tier','industry_vertical','icp_score','company_size','funding_stage'];\nconst filtered = {};\nfor (const k of allowed) {\n  if (c[k] && String(c[k]).trim() && c[k] !== 'nan') filtered[k] = c[k];\n}\n\nuserContent = `Generate a persona profile for this contact.\\n\\nINPUT DATA:\\n${JSON.stringify(filtered, null, 2)}\\n\\nOUTPUT FORMAT (valid JSON only):\\n{\\n  \"persona_summary\": \"<3 sentences: role archetype, operational responsibility, decision-making lens>\",\\n  \"context_hook\": \"<1-2 sentences: why pricing intelligence or data automation matters specifically to them>\",\\n  \"personalization_themes\": [\"<theme 1>\", \"<theme 2>\", \"<theme 3>\"],\\n  \"confidence\": \"<HIGH | MEDIUM | LOW>\"\\n}`;\n\nreturn [{\n  json: {\n    ...c,\n    _system_prompt: systemPrompt,\n    _user_content: userContent,\n    _prompt_version: 'v1.2'\n  }\n}];"
      },
      "name": "Build Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 220],
      "notes": "Constructs the system + user prompt. Selects variant based on industry_vertical. Strips tracking fields before sending to LLM."
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "HTTP-Referer",  "value": "https://github.com/techsparks-gtm" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "anthropic/claude-3-haiku"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"{{ $json._system_prompt }}\"},{\"role\":\"user\",\"content\":\"{{ $json._user_content }}\"}]"
            },
            { "name": "temperature",       "value": "0.3" },
            { "name": "max_tokens",        "value": "600" },
            { "name": "response_format",   "value": "{\"type\":\"json_object\"}" }
          ]
        },
        "options": { "timeout": 20000 }
      },
      "name": "Call Claude (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 220],
      "notes": "Calls Claude via OpenRouter. Temperature 0.3 keeps outputs consistent. JSON mode enforced."
    },
    {
      "parameters": {
        "functionCode": "// Parse and validate LLM output\nconst item = $input.item.json;\nconst rawOutput = item.choices?.[0]?.message?.content || '';\n\nconst GENERIC_PHRASES = [\n  'as a leader','in the tech space','passionate about','driving innovation',\n  'thought leader','seasoned professional','dynamic','visionary','at the forefront'\n];\n\nlet parsed = {};\nlet parseError = '';\nlet confidenceFlag = 'LOW';\nlet validationNotes = [];\n\n// Parse JSON\ntry {\n  let text = rawOutput.replace(/^```json?\\s*/,'').replace(/\\s*```$/,'').trim();\n  const start = text.indexOf('{');\n  const end   = text.lastIndexOf('}');\n  if (start > -1 && end > -1) {\n    text = text.slice(start, end+1).replace(/,\\s*([}\\]])/g,'$1');\n    parsed = JSON.parse(text);\n  } else {\n    parseError = 'No JSON object found';\n  }\n} catch(e) {\n  parseError = `JSON parse error: ${e.message}`;\n}\n\nif (parseError) {\n  validationNotes.push(`PARSE_ERROR: ${parseError}`);\n} else {\n  // Structural check\n  const required = ['persona_summary','context_hook','personalization_themes','confidence'];\n  for (const f of required) {\n    if (!parsed[f]) validationNotes.push(`Missing field: ${f}`);\n  }\n\n  // Semantic check — generic phrases\n  const allText = [parsed.persona_summary, parsed.context_hook, ...(parsed.personalization_themes||[])].join(' ').toLowerCase();\n  const badPhrases = GENERIC_PHRASES.filter(p => allText.includes(p));\n  if (badPhrases.length > 0) validationNotes.push(`Generic phrases: ${badPhrases.join(', ')}`);\n\n  // Length check\n  if ((parsed.persona_summary||'').length < 80) validationNotes.push('persona_summary too short');\n  if ((parsed.context_hook||'').length < 50)    validationNotes.push('context_hook too short');\n\n  // Compute final confidence\n  const llmConf = parsed.confidence || 'LOW';\n  const flags   = validationNotes.length + (llmConf === 'LOW' ? 3 : 0) + (badPhrases.length > 0 ? 2 : 0);\n  confidenceFlag = flags === 0 && llmConf === 'HIGH' ? 'HIGH' : flags <= 2 ? 'MEDIUM' : 'LOW';\n}\n\nconst themes = Array.isArray(parsed.personalization_themes)\n  ? parsed.personalization_themes.join(' | ')\n  : '';\n\nreturn [{\n  json: {\n    ...item,\n    persona_summary:        parsed.persona_summary || '',\n    context_hook:           parsed.context_hook    || '',\n    personalization_themes: themes,\n    confidence_flag:        confidenceFlag,\n    validation_notes:       validationNotes.join(' | '),\n    _raw_llm_output:        rawOutput\n  }\n}];"
      },
      "name": "Validate & Parse Persona",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 220],
      "notes": "Parses LLM JSON, checks for generic phrases, validates structure, computes final confidence flag. LOW confidence → human review, never auto-sends."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.confidence_flag }}",
              "operation": "notEqual",
              "value2": "LOW"
            }
          ]
        }
      },
      "name": "Route: HIGH/MEDIUM vs LOW",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 220],
      "notes": "HIGH/MEDIUM → write to sheet. LOW → flag for human review in separate tab."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GSHEET_DOC_ID }}",
        "sheetName": "Master",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.id }}",
        "fieldsUi": {
          "values": [
            { "column": "persona_summary",        "fieldValue": "={{ $json.persona_summary }}" },
            { "column": "context_hook",            "fieldValue": "={{ $json.context_hook }}" },
            { "column": "personalization_themes",  "fieldValue": "={{ $json.personalization_themes }}" },
            { "column": "confidence_flag",         "fieldValue": "={{ $json.confidence_flag }}" },
            { "column": "validation_notes",        "fieldValue": "={{ $json.validation_notes }}" }
          ]
        }
      },
      "name": "Write Persona to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1780, 160],
      "credentials": { "googleSheetsOAuth2Api": { "id": "1", "name": "Google Sheets" } },
      "notes": "Updates the matching row by ID. Only writes persona fields — does not touch enrichment or routing columns."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GSHEET_DOC_ID }}",
        "sheetName": "Human Review Queue",
        "fieldsUi": {
          "values": [
            { "column": "id",               "fieldValue": "={{ $json.id }}" },
            { "column": "name",             "fieldValue": "={{ $json.name }}" },
            { "column": "company",          "fieldValue": "={{ $json.company }}" },
            { "column": "icp_score",        "fieldValue": "={{ $json.icp_score }}" },
            { "column": "confidence_flag",  "fieldValue": "={{ $json.confidence_flag }}" },
            { "column": "validation_notes", "fieldValue": "={{ $json.validation_notes }}" },
            { "column": "raw_llm_output",   "fieldValue": "={{ $json._raw_llm_output }}" },
            { "column": "review_status",    "fieldValue": "pending" }
          ]
        }
      },
      "name": "Flag for Human Review",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1780, 340],
      "credentials": { "googleSheetsOAuth2Api": { "id": "1", "name": "Google Sheets" } },
      "notes": "LOW confidence outputs go to a separate 'Human Review Queue' sheet tab. A human edits and approves before the contact enters outreach."
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "name": "Rate Limit Pause",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 420],
      "notes": "3s pause between LLM calls. Respects OpenRouter free tier rate limits (~20 req/min)."
    }
  ],
  "connections": {
    "Schedule Trigger":           { "main": [[{ "node": "Read Enriched Sheet",      "type": "main", "index": 0 }]] },
    "Read Enriched Sheet":        { "main": [[{ "node": "Filter: Needs Persona",    "type": "main", "index": 0 }]] },
    "Filter: Needs Persona":      { "main": [[{ "node": "Build Prompt",             "type": "main", "index": 0 }]] },
    "Build Prompt":               { "main": [[{ "node": "Rate Limit Pause",         "type": "main", "index": 0 }]] },
    "Rate Limit Pause":           { "main": [[{ "node": "Call Claude (OpenRouter)", "type": "main", "index": 0 }]] },
    "Call Claude (OpenRouter)":   { "main": [[{ "node": "Validate & Parse Persona", "type": "main", "index": 0 }]] },
    "Validate & Parse Persona":   { "main": [[{ "node": "Route: HIGH/MEDIUM vs LOW","type": "main", "index": 0 }]] },
    "Route: HIGH/MEDIUM vs LOW":  {
      "main": [
        [{ "node": "Write Persona to Sheet",  "type": "main", "index": 0 }],
        [{ "node": "Flag for Human Review",   "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "TechSparks — Error Handler"
  },
  "tags": ["techsparks", "persona-generation"],
  "_meta": {
    "description": "Reads enriched contacts from Google Sheets, generates LLM personas via Claude, validates output, writes back. LOW confidence contacts go to human review queue.",
    "env_vars_required": ["GSHEET_DOC_ID", "OPENROUTER_API_KEY"]
  }
}
