n8n_workflows/02_outreach_sequence.json
{
  "name": "TechSparks — 02 Outreach Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }]
        }
      },
      "name": "Daily Trigger (8AM Weekdays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Runs at 8AM IST on weekdays. Best delivery window for Indian B2B contacts."
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": "={{ $env.GSHEET_DOC_ID }}",
        "sheetName": "Master",
        "options": { "headerRow": 1 }
      },
      "name": "Read Outreach Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "1", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "functionCode": "// Determine which phase to run today based on current date\nconst today = new Date();\nconst eventStart  = new Date('2024-09-26');\nconst eventEnd    = new Date('2024-09-28');\nconst postEventD5 = new Date('2024-10-03');\nconst postEventD8 = new Date('2024-10-06');\nconst postEventD14= new Date('2024-10-12');\n\nlet phase = 'pre_event';\nif (today >= postEventD14)      phase = 'post_event_fu2';\nelse if (today >= postEventD8)  phase = 'post_event_fu1';\nelse if (today >= postEventD5)  phase = 'post_event';\nelse if (today >= eventStart)   phase = 'during_event';\n\n// Filter contacts eligible for this phase\nconst items = $input.all();\nconst eligible = items.filter(item => {\n  const c = item.json;\n  return (\n    c.outreach_status === 'pending' &&\n    c.in_sequence     !== 'TRUE' &&\n    c.confidence_flag !== 'LOW' &&\n    c.icp_score       >= 3 &&\n    c.leadership_review !== 'YES'  // leadership queue handled separately\n  );\n});\n\nreturn eligible.map(item => ({ json: { ...item.json, _phase: phase } }));"
      },
      "name": "Phase Router",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "Determines which outreach phase is active (pre/during/post-event) and filters to eligible contacts only. Excludes leadership review queue — those are handled in Workflow 3."
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            { "value2": "pre_event",      "operation": "equal" },
            { "value2": "during_event",   "operation": "equal" },
            { "value2": "post_event",     "operation": "equal" },
            { "value2": "post_event_fu1", "operation": "equal" },
            { "value2": "post_event_fu2", "operation": "equal" }
          ]
        },
        "dataPropertyName": "_phase"
      },
      "name": "Switch: Phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [900, 300],
      "notes": "Routes to the correct outreach action based on event phase."
    },
    {
      "parameters": {
        "functionCode": "// Build pre-event LinkedIn connection note\nconst c = $input.item.json;\n\nconst honorifics = /^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i;\nconst firstName  = c.name.replace(honorifics,'').split(' ')[0];\nconst themes     = (c.personalization_themes||'').split('|').map(t=>t.trim().toLowerCase());\nconst p1         = themes[0] || 'data-driven decision making';\n\nconst industry  = c.industry_vertical || '';\nconst seniority = c.seniority_tier    || '';\n\nlet variant, message;\nif (industry === 'VC/PE') {\n  variant = 'B';\n  message = `Hi ${firstName}, coming across your name ahead of TechSparks — founders I speak with are increasingly asking about ${p1}. Keen to connect and exchange notes. — Rohan Mehta`;\n} else if (seniority === 'C-Suite') {\n  variant = 'A';\n  message = `Hi ${firstName}, spotted you on the TechSparks speaker list — your work at ${c.company} on ${p1} caught my attention. Would love to connect ahead of the event. — Rohan Mehta`;\n} else {\n  variant = 'C';\n  message = `Hi ${firstName}, attending TechSparks next week and noticed your background at ${c.company}. Working on problems around ${p1} — would love to connect. — Sneha Kapoor`;\n}\n\n// Enforce 300 char LinkedIn limit\nif (message.length > 300) message = message.slice(0, 297) + '...';\n\nreturn [{ json: { ...c, _message: message, _variant: variant, _channel: 'linkedin_connect' } }];"
      },
      "name": "Build: LinkedIn Connect",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 100],
      "notes": "Builds personalised LinkedIn connection note (≤300 chars). Variant A/B/C selected by industry + seniority."
    },
    {
      "parameters": {
        "functionCode": "// Build during-event LinkedIn DM\nconst c = $input.item.json;\nconst honorifics = /^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i;\nconst firstName  = c.name.replace(honorifics,'').split(' ')[0];\nconst themes     = (c.personalization_themes||'').split('|').map(t=>t.trim().toLowerCase());\nconst p1         = themes[0] || 'competitive intelligence';\nconst hook       = c.context_hook || '';\n\nconst industry = c.industry_vertical || '';\nlet variant, message;\n\nif (industry === 'VC/PE') {\n  variant = 'B';\n  message = `Hey ${firstName},\\n\\nAppreciated connecting. Your firm's portfolio is interesting — particularly given how many companies compete in price-sensitive categories right now.\\n\\n${hook}\\n\\nWorth a 20-min call to share what we're seeing across the ecosystem?\\n\\nRohan Mehta\\nVP of Partnerships`;\n} else if (c.seniority_tier === 'C-Suite') {\n  variant = 'A';\n  message = `Hey ${firstName},\\n\\nGreat connecting — your work at ${c.company} on ${p1} is interesting.\\n\\n${hook}\\n\\nNot pitching anything — just thought it was directly relevant to what you're navigating. Happy to share what we're seeing across similar companies.\\n\\nRohan Mehta\\nVP of Partnerships`;\n} else {\n  variant = 'C';\n  message = `Hey ${firstName},\\n\\nGood to connect at TechSparks. Quick question — is ${p1} something your team is actively working through?\\n\\nSneha Kapoor`;\n}\n\nreturn [{ json: { ...c, _message: message, _variant: variant, _channel: 'linkedin_dm' } }];"
      },
      "name": "Build: LinkedIn DM",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 220],
      "notes": "During-event DM. Only sent if LinkedIn connection was accepted. Fallback to email if not accepted within 48h."
    },
    {
      "parameters": {
        "functionCode": "// Build post-event email (primary)\nconst c = $input.item.json;\nconst honorifics = /^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i;\nconst firstName  = c.name.replace(honorifics,'').split(' ')[0];\nconst themes     = (c.personalization_themes||'').split('|').map(t=>t.trim().toLowerCase());\nconst p1   = themes[0] || 'data-driven decision making';\nconst hook = c.context_hook || '';\n\nconst industry = c.industry_vertical || '';\nlet subject, body, variant;\n\nif (industry === 'VC/PE') {\n  variant = 'B';\n  subject = 'Post-TechSparks — one thing worth passing to your portfolio';\n  body    = `Hi ${firstName},\\n\\nGood week at TechSparks. Wanted to follow up on something worth sharing with your portfolio.\\n\\n${hook}\\n\\nSeveral of your portfolio companies are likely navigating this right now — particularly those competing on price in consumer categories.\\n\\nI know a YC-backed company built specifically for this: pricing intelligence, competitive benchmarking, and data automation for growth-stage companies.\\n\\nIf it's worth 15 minutes for a portfolio intro, I'm happy to make the connection.\\n\\nRohan Mehta\\nVP of Partnerships\\nrohan@company.co`;\n} else if (c.seniority_tier === 'C-Suite') {\n  variant = 'A';\n  subject = `Something relevant from TechSparks week — ${firstName}`;\n  body    = `Hi ${firstName},\\n\\nHope the TechSparks energy has carried into this week.\\n\\nI've been thinking about something relevant to ${c.company} — ${p1}. It's a pattern we keep seeing with founders at your stage: the commercial intelligence work that should inform pricing and competitive positioning is either delayed, manual, or not happening at the frequency needed.\\n\\n${hook}\\n\\nThe companies getting ahead of this use automated data pipelines to do in real-time what used to take an analyst a week.\\n\\nIf any of this resonates, I can introduce you to a YC-backed company that specializes in exactly this. The conversation is worth 20 minutes.\\n\\nWorth a quick intro?\\n\\nRohan Mehta\\nVP of Partnerships\\nrohan@company.co`;\n} else {\n  variant = 'C';\n  subject = `Following up from TechSparks — ${firstName}`;\n  body    = `Hi ${firstName},\\n\\nQuick follow-up from TechSparks. ${hook}\\n\\nThere's a YC-backed company I'd be happy to introduce you to if ${p1} is on your radar.\\n\\nLet me know if useful.\\n\\nSneha Kapoor`;\n}\n\nreturn [{ json: { ...c, _subject: subject, _body: body, _variant: variant, _channel: 'email' } }];"
      },
      "name": "Build: Post-Event Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 340],
      "notes": "Post-event email. 3 variants: A (founders), B (VCs/portfolio angle), C (VP/Director). Never mentions company name — frames as 'YC-backed company'."
    },
    {
      "parameters": {
        "functionCode": "// Follow-up 1: short bump (Day 8)\nconst c = $input.item.json;\nconst honorifics = /^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i;\nconst firstName  = c.name.replace(honorifics,'').split(' ')[0];\nconst themes     = (c.personalization_themes||'').split('|').map(t=>t.trim().toLowerCase());\nconst p1 = themes[0] || 'data-driven decision making';\n\nconst subject = `Re: Something relevant from TechSparks week — ${firstName}`;\nconst body    = `Hi ${firstName},\\n\\nJust bumping this up in case it got buried.\\n\\nOne line: I know a YC-backed team solving ${p1} for companies like ${c.company} — happy to make the intro if relevant.\\n\\nRohan Mehta`;\n\nreturn [{ json: { ...c, _subject: subject, _body: body, _variant: 'FU1', _channel: 'email' } }];"
      },
      "name": "Build: Follow-up 1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 460],
      "notes": "Day 8 bump — short, single-line value prop. No new information, just re-surfaces the thread."
    },
    {
      "parameters": {
        "functionCode": "// Follow-up 2: close the loop (Day 14)\nconst c = $input.item.json;\nconst honorifics = /^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i;\nconst firstName  = c.name.replace(honorifics,'').split(' ')[0];\n\nconst subject = `Closing the loop — ${firstName}`;\nconst body    = `Hi ${firstName},\\n\\nClosing the loop on my earlier note. If the timing isn't right, completely understood — happy to reconnect when it is.\\n\\nRohan Mehta`;\n\nreturn [{ json: { ...c, _subject: subject, _body: body, _variant: 'FU2', _channel: 'email' } }];"
      },
      "name": "Build: Follow-up 2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 580],
      "notes": "Day 14 final touch. Graceful close — no pressure, leaves door open."
    },
    {
      "parameters": {
        "url": "https://api.instantly.ai/api/v1/lead/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.INSTANTLY_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "campaign_id",   "value": "={{ $env.INSTANTLY_CAMPAIGN_ID }}" },
            { "name": "email",         "value": "={{ $json.email }}" },
            { "name": "first_name",    "value": "={{ $json.name.split(' ')[0] }}" },
            { "name": "company_name",  "value": "={{ $json.company }}" },
            { "name": "custom_variables", "value": "={\"subject\": \"{{ $json._subject }}\", \"body\": \"{{ $json._body }}\", \"variant\": \"{{ $json._variant }}\"}" }
          ]
        }
      },
      "name": "Send via Instantly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1360, 340],
      "notes": "Adds contact + personalised email to Instantly.ai campaign. Instantly handles deliverability, unsubscribe, and tracking."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GSHEET_DOC_ID }}",
        "sheetName": "Master",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.id }}",
        "fieldsUi": {
          "values": [
            { "column": "outreach_status", "fieldValue": "in_progress" },
            { "column": "in_sequence",     "fieldValue": "TRUE" },
            { "column": "last_touch",      "fieldValue": "={{ $now.toISODate() }}" },
            { "column": "last_channel",    "fieldValue": "={{ $json._channel }}" },
            { "column": "variant_used",    "fieldValue": "={{ $json._variant }}" }
          ]
        }
      },
      "name": "Update Status in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1580, 340],
      "credentials": { "googleSheetsOAuth2Api": { "id": "1", "name": "Google Sheets" } },
      "notes": "Marks contact as in_sequence=TRUE immediately after send. Prevents any other workflow from double-sending to this contact."
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Send Rate Limiter",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1360, 480],
      "notes": "2s pause between sends. Instantly free trial: max 30 emails/day — the daily trigger + filter naturally enforces this."
    }
  ],
  "connections": {
    "Daily Trigger (8AM Weekdays)": { "main": [[{ "node": "Read Outreach Queue",      "type": "main", "index": 0 }]] },
    "Read Outreach Queue":          { "main": [[{ "node": "Phase Router",             "type": "main", "index": 0 }]] },
    "Phase Router":                 { "main": [[{ "node": "Switch: Phase",            "type": "main", "index": 0 }]] },
    "Switch: Phase": {
      "main": [
        [{ "node": "Build: LinkedIn Connect",   "type": "main", "index": 0 }],
        [{ "node": "Build: LinkedIn DM",        "type": "main", "index": 0 }],
        [{ "node": "Build: Post-Event Email",   "type": "main", "index": 0 }],
        [{ "node": "Build: Follow-up 1",        "type": "main", "index": 0 }],
        [{ "node": "Build: Follow-up 2",        "type": "main", "index": 0 }]
      ]
    },
    "Build: Post-Event Email": { "main": [[{ "node": "Send via Instantly",       "type": "main", "index": 0 }]] },
    "Build: Follow-up 1":      { "main": [[{ "node": "Send via Instantly",       "type": "main", "index": 0 }]] },
    "Build: Follow-up 2":      { "main": [[{ "node": "Send via Instantly",       "type": "main", "index": 0 }]] },
    "Send via Instantly":      { "main": [[{ "node": "Send Rate Limiter",        "type": "main", "index": 0 }]] },
    "Send Rate Limiter":       { "main": [[{ "node": "Update Status in Sheet",   "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "TechSparks — Error Handler"
  },
  "tags": ["techsparks", "outreach-sequence"],
  "_meta": {
    "description": "Runs daily at 8AM. Determines current event phase, builds personalised messages, sends via Instantly, marks contact as in_sequence to prevent duplicates.",
    "env_vars_required": ["GSHEET_DOC_ID", "INSTANTLY_API_KEY", "INSTANTLY_CAMPAIGN_ID"]
  }
}
