n8n_workflows/outreach.json
{
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "21a52f33-c6f5-4a48-8929-ef556b4574ff",
      "name": "Daily Trigger (8AM Weekdays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        1776,
        2032
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1692599893,
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c/edit#gid=1692599893"
        },
        "options": {}
      },
      "id": "d53e5e30-d581-4535-8b46-fc6b375bf7ad",
      "name": "Read Outreach Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2224,
        2032
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i7CP4sLwCW7Wi7Gs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// ─────────────────────────────────────────────\n// CONFIG\n// ─────────────────────────────────────────────\n\n// Force phase manually if needed (for testing/demo)\nconst FORCE_PHASE = $env.FORCE_PHASE ? String($env.FORCE_PHASE).trim() : null;\n\n// Read environment dates safely\nconst EVENT_START_RAW = '2026-02-20';\nconst EVENT_END_RAW   = '2026-02-21';\n\nconst EVENT_START = new Date(EVENT_START_RAW);\nconst EVENT_END   = new Date(EVENT_END_RAW);\n\nconst MAX_PER_RUN = parseInt($env.MAX_SENDS_PER_RUN || '25', 10);\nconst DISABLE_HARD_STOP = String($env.DISABLE_HARD_STOP || 'true').toLowerCase() === 'true';\n\n// Normalize today\nconst today = new Date();\ntoday.setHours(0,0,0,0);\n\n// Debug logs (important for troubleshooting)\nconsole.log('[PHASE ROUTER] TODAY:', today);\nconsole.log('[PHASE ROUTER] EVENT_START:', EVENT_START);\nconsole.log('[PHASE ROUTER] EVENT_END:', EVENT_END);\nconsole.log('[PHASE ROUTER] FORCE_PHASE:', FORCE_PHASE);\n\n// Post-event milestones\nconst postD5  = new Date(EVENT_END); postD5.setDate(postD5.getDate()+5);\nconst postD8  = new Date(EVENT_END); postD8.setDate(postD8.getDate()+8);\nconst postD21 = new Date(EVENT_END); postD21.setDate(postD21.getDate()+21);\n\n// ─────────────────────────────────────────────\n// HARD STOP\n// ─────────────────────────────────────────────\nif (!DISABLE_HARD_STOP && today > postD21) {\n  console.log('[PHASE ROUTER] Hard stop triggered (past D+21)');\n  return [];\n}\n\n// ─────────────────────────────────────────────\n// DETERMINE PHASE\n// ─────────────────────────────────────────────\nlet phase;\n\nif (FORCE_PHASE) {\n  phase = FORCE_PHASE;\n} else if (today < EVENT_START) {\n  phase = 'pre_event';\n} else if (today <= EVENT_END) {\n  phase = 'during_event';\n} else if (today < postD5) {\n  phase = 'post_event';\n} else if (today < postD8) {\n  phase = 'post_event_fu1';\n} else {\n  phase = 'post_event_fu2';\n}\n\nconsole.log('[PHASE ROUTER] Calculated Phase:', phase);\n\n// ─────────────────────────────────────────────\n// ELIGIBILITY FILTER\n// ─────────────────────────────────────────────\nconst inputItems = $input.all();\nconsole.log('[PHASE ROUTER] Total input rows:', inputItems.length);\n\nconst eligible = inputItems.filter(item => {\n  const c = item.json;\n  const score = parseFloat(c.icp_score);\n\n  const outreachStatus   = String(c.outreach_status || '').trim().toLowerCase();\n  const inSequence       = String(c.in_sequence || '').trim().toUpperCase();\n  const confidence       = String(c.confidence_flag || '').trim().toUpperCase();\n  const leadershipReview = String(c.leadership_review || '').trim().toUpperCase();\n  const outreachBlocked  = String(c.outreach_blocked || '').trim().toUpperCase();\n  const email            = String(c.email || '').trim();\n\n  const isEligible =\n    outreachStatus === 'pending' &&\n    inSequence !== 'TRUE' &&\n    confidence && confidence !== 'LOW' &&\n    !isNaN(score) && score >= 3 &&\n    leadershipReview !== 'YES' &&\n    outreachBlocked !== 'YES' &&\n    email !== '';\n\n  if (!isEligible) {\n    console.log('[PHASE ROUTER] Dropped row:', {\n      id: c.id,\n      outreachStatus,\n      inSequence,\n      confidence,\n      score,\n      leadershipReview,\n      outreachBlocked,\n      email\n    });\n  }\n\n  return isEligible;\n});\n\nconst capped = eligible.slice(0, MAX_PER_RUN);\n\nconsole.log(`[PHASE ROUTER] Eligible: ${eligible.length}, Sending this run: ${capped.length}`);\n\n// ─────────────────────────────────────────────\n// RETURN\n// ─────────────────────────────────────────────\nreturn capped.map(item => ({\n  json: {\n    ...item.json,\n    _phase: phase,                  \n    _debug_today: today,\n    _debug_event_start: EVENT_START,\n    _debug_event_end: EVENT_END\n  }\n}));"
      },
      "id": "c1c6ed59-f5b3-4e4b-a1b7-42e0b28cae1b",
      "name": "Phase Router",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2448,
        2032
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"_phase\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "pre_event"
            },
            {
              "value2": "during_event",
              "output": 1
            },
            {
              "value2": "post_event",
              "output": 2
            },
            {
              "value2": "post_event_fu1",
              "output": 3
            },
            {
              "value2": "post_event_fu2",
              "output": 3
            }
          ]
        }
      },
      "id": "7e7c47c6-62e9-427e-aa55-8ad18984d4e8",
      "name": "Switch: Phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2672,
        2000
      ]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst re = /^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i;\n\nreturn items.map(item => {\n  const c = item.json;\n\n  const firstName = (c.name || '')\n    .replace(re, '')\n    .split(' ')[0];\n\n  const themes = (c.personalization_themes || '')\n    .split('|')\n    .map(t => t.trim().toLowerCase());\n\n  const p1 = themes[0] || 'data-driven decision making';\n  const industry = c.industry_vertical || '';\n  const seniority = c.seniority_tier || '';\n\n  let variant, message;\n\n  if (industry === 'VC/PE') {\n    variant = 'B';\n    message =\n      'Hi ' + firstName +\n      ', coming across your name ahead of TechSparks — founders I speak with are increasingly asking about ' +\n      p1 +\n      '. Keen to connect and exchange notes. — Rohan Mehta';\n  } else if (seniority === 'C-Suite') {\n    variant = 'A';\n    message =\n      'Hi ' + firstName +\n      ', spotted you on the TechSparks speaker list — your work at ' +\n      c.company +\n      ' on ' + p1 +\n      ' caught my attention. Would love to connect ahead of the event. — Rohan Mehta';\n  } else {\n    variant = 'C';\n    message =\n      'Hi ' + firstName +\n      ', attending TechSparks next week and noticed your background at ' +\n      c.company +\n      '. Working on problems around ' + p1 +\n      ' — would love to connect. — Sneha Kapoor';\n  }\n\n  if (message.length > 300) {\n    message = message.slice(0, 297) + '...';\n  }\n\n  return {\n    json: {\n      ...c,\n      _first_name: firstName,\n      _message: message,\n      _variant: variant,\n      _channel: 'linkedin_connect',\n      li_connect_msg: message\n    }\n  };\n});"
      },
      "id": "20fe5a93-3b37-4bd3-9544-cbe91c2432d5",
      "name": "Build: LinkedIn Connect",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2896,
        1664
      ]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst re = /^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i;\n\nreturn items.map(item => {\n  const c = item.json;\n\n  const firstName = (c.name || '')\n    .replace(re, '')\n    .split(' ')[0];\n\n  const themes = (c.personalization_themes || '')\n    .split('|')\n    .map(t => t.trim().toLowerCase());\n\n  const p1 = themes[0] || 'competitive intelligence';\n  const hook = c.context_hook || '';\n  const industry = c.industry_vertical || '';\n\n  let variant, message;\n\n  if (industry === 'VC/PE') {\n    variant = 'B';\n    message =\n      'Hey ' + firstName + ',\\n\\n' +\n      'Appreciated connecting. Your portfolio is interesting — particularly companies competing in price-sensitive categories.\\n\\n' +\n      hook + '\\n\\n' +\n      'Worth a 20-min call to share what we are seeing across the ecosystem?\\n\\n' +\n      'Rohan Mehta\\nVP of Partnerships';\n  } else if (c.seniority_tier === 'C-Suite') {\n    variant = 'A';\n    message =\n      'Hey ' + firstName + ',\\n\\n' +\n      'Great connecting — your work at ' + c.company + ' on ' + p1 + ' is interesting.\\n\\n' +\n      hook + '\\n\\n' +\n      'Not pitching — just thought it was relevant to what you are navigating.\\n\\n' +\n      'Rohan Mehta\\nVP of Partnerships';\n  } else {\n    variant = 'C';\n    message =\n      'Hey ' + firstName + ',\\n\\n' +\n      'Good to connect at TechSparks. Quick question — is ' + p1 + ' something your team is actively working through?\\n\\n' +\n      'Sneha Kapoor';\n  }\n\n  return {\n    json: {\n      ...c,\n      _first_name: firstName,\n      _message: message,\n      _variant: variant,\n      _channel: 'linkedin_dm',\n      li_dm_msg: message\n    }\n  };\n});"
      },
      "id": "88877eaa-f0e5-4294-9fe8-3f6752f70da4",
      "name": "Build: LinkedIn DM",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2896,
        1856
      ]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\n\nconst re = /^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i;\n\nreturn items.map(item => {\n  const c = item.json;\n\n  const firstName = (c.name || '')\n    .replace(re,'')\n    .split(' ')[0];\n\n  const themes = (c.personalization_themes||'')\n    .split('|')\n    .map(t=>t.trim().toLowerCase());\n\n  const p1 = themes[0] || 'data-driven decision making';\n  const hook = c.context_hook || '';\n  const industry = c.industry_vertical || '';\n\n  let subject, body, variant;\n\n  if (industry === 'VC/PE') {\n    variant='B';\n    subject='Post-TechSparks — one thing worth passing to your portfolio';\n    body =\n      'Hi ' + firstName + ',\\n\\n' +\n      'Good week at TechSparks. ' + hook + '\\n\\n' +\n      'I know a YC-backed company built for this: pricing intelligence, competitive benchmarking, and data automation.\\n\\n' +\n      'If it is worth 15 minutes for a portfolio intro, happy to make the connection.\\n\\n' +\n      'Rohan Mehta\\nVP of Partnerships\\nrohan@company.co';\n  } else if (c.seniority_tier === 'C-Suite') {\n    variant='A';\n    subject='Something relevant from TechSparks week — ' + firstName;\n    body =\n      'Hi ' + firstName + ',\\n\\n' +\n      'Hope the TechSparks energy has carried into this week.\\n\\n' +\n      hook + '\\n\\n' +\n      'The companies getting ahead of this use automated pipelines to do in real-time what used to take an analyst a week.\\n\\n' +\n      'Worth a quick intro?\\n\\n' +\n      'Rohan Mehta\\nVP of Partnerships\\nrohan@company.co';\n  } else {\n    variant='C';\n    subject='Following up from TechSparks — ' + firstName;\n    body =\n      'Hi ' + firstName + ',\\n\\n' +\n      'Quick follow-up from TechSparks. ' + hook + '\\n\\n' +\n      'There is a YC-backed company I would be happy to introduce you to if ' + p1 + ' is on your radar.\\n\\n' +\n      'Let me know if useful.\\n\\n' +\n      'Sneha Kapoor';\n  }\n\n  return {\n    json: {\n      ...c,\n      _first_name: firstName,\n      _subject: subject,\n      _body: body,\n      _variant: variant,\n      _channel: 'email',\n      email_subject: subject,\n      email_body: body\n    }\n  };\n});"
      },
      "id": "96037426-19c2-4406-90c7-231fb87548eb",
      "name": "Build: Post-Event Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2896,
        2192
      ]
    },
    {
      "parameters": {
        "functionCode": "const c = $input.item.json;\nconst re = /^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i;\nconst firstName = c.name.replace(re,'').split(' ')[0];\nconst themes = (c.personalization_themes||'').split('|').map(t=>t.trim().toLowerCase());\nconst p1 = themes[0] || 'data-driven decision making';\nconst subject = 'Re: Something relevant from TechSparks week — ' + firstName;\nconst body = 'Hi ' + firstName + ',\\n\\nJust bumping this up in case it got buried.\\n\\nOne line: I know a YC-backed team solving ' + p1 + ' for companies like ' + c.company + ' — happy to make the intro if relevant.\\n\\nRohan Mehta';\nreturn [{ json: { ...c, _first_name: firstName, _subject: subject, _body: body, _variant: 'FU1', _channel: 'email', email_subject: subject, email_body: body } }];"
      },
      "id": "21fc0e1e-f412-4c55-b975-d5fd28649f9a",
      "name": "Build: Follow-up 1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2896,
        2384
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1692599893,
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c/edit#gid=1692599893"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "li_connect_msg": "={{ $json.li_connect_msg }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "industry_vertical",
              "displayName": "industry_vertical",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seniority_tier",
              "displayName": "seniority_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "funding_stage",
              "displayName": "funding_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "persona_summary",
              "displayName": "persona_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "context_hook",
              "displayName": "context_hook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "personalization_themes",
              "displayName": "personalization_themes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "confidence_flag",
              "displayName": "confidence_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "validation_notes",
              "displayName": "validation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outreach_blocked",
              "displayName": "outreach_blocked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "persona_error_at",
              "displayName": "persona_error_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_role",
              "displayName": "owner_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_title",
              "displayName": "sender_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "leadership_review",
              "displayName": "leadership_review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "routing_notes",
              "displayName": "routing_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "li_connect_msg",
              "displayName": "li_connect_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "li_dm_msg",
              "displayName": "li_dm_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outreach_status",
              "displayName": "outreach_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "in_sequence",
              "displayName": "in_sequence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_touch",
              "displayName": "last_touch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_channel",
              "displayName": "last_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "variant_used",
              "displayName": "variant_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fcaefc70-f1d0-4e2f-aa8a-74f5b16c9a54",
      "name": "Write LinkedIn Connect to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3120,
        1664
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i7CP4sLwCW7Wi7Gs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1692599893,
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c/edit#gid=1692599893"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "li_dm_msg": "={{ $json.li_dm_msg}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "industry_vertical",
              "displayName": "industry_vertical",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seniority_tier",
              "displayName": "seniority_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "funding_stage",
              "displayName": "funding_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "persona_summary",
              "displayName": "persona_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "context_hook",
              "displayName": "context_hook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "personalization_themes",
              "displayName": "personalization_themes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "confidence_flag",
              "displayName": "confidence_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "validation_notes",
              "displayName": "validation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outreach_blocked",
              "displayName": "outreach_blocked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "persona_error_at",
              "displayName": "persona_error_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_role",
              "displayName": "owner_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_title",
              "displayName": "sender_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "leadership_review",
              "displayName": "leadership_review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "routing_notes",
              "displayName": "routing_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "li_connect_msg",
              "displayName": "li_connect_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "li_dm_msg",
              "displayName": "li_dm_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outreach_status",
              "displayName": "outreach_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "in_sequence",
              "displayName": "in_sequence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_touch",
              "displayName": "last_touch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_channel",
              "displayName": "last_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "variant_used",
              "displayName": "variant_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ef2e6faf-3dab-4f38-8b58-7a7fca5df533",
      "name": "Write LinkedIn DM to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3120,
        1856
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i7CP4sLwCW7Wi7Gs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1692599893,
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c/edit#gid=1692599893"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "email_subject": "={{ $json.email_subject }}",
            "email_body": "={{ $json.email_body }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "industry_vertical",
              "displayName": "industry_vertical",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seniority_tier",
              "displayName": "seniority_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "funding_stage",
              "displayName": "funding_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "persona_summary",
              "displayName": "persona_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "context_hook",
              "displayName": "context_hook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "personalization_themes",
              "displayName": "personalization_themes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "confidence_flag",
              "displayName": "confidence_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "validation_notes",
              "displayName": "validation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outreach_blocked",
              "displayName": "outreach_blocked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "persona_error_at",
              "displayName": "persona_error_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_role",
              "displayName": "owner_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_title",
              "displayName": "sender_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "leadership_review",
              "displayName": "leadership_review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "routing_notes",
              "displayName": "routing_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "li_connect_msg",
              "displayName": "li_connect_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "li_dm_msg",
              "displayName": "li_dm_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outreach_status",
              "displayName": "outreach_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "in_sequence",
              "displayName": "in_sequence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_touch",
              "displayName": "last_touch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_channel",
              "displayName": "last_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "variant_used",
              "displayName": "variant_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e44dda61-3c8e-41d4-b4a2-fd2761908447",
      "name": "Pre-Write Email Fields",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3120,
        2048
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i7CP4sLwCW7Wi7Gs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{ $env.APOLLO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"first_name\": $json._first_name || \"\",\n  \"last_name\": ($json.name || \"\")\n    .replace(/^(Dr\\.?|Mr\\.?|Mrs\\.?|Ms\\.?|Prof\\.?|Shri\\.?)\\s+/i, \"\")\n    .split(\" \")\n    .slice(1)\n    .join(\" \") || \"\",\n  \"email\": $json.email || \"\",\n  \"title\": $json.title || \"\",\n  \"organization_name\": $json.company || \"\"\n}\n}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "359058cf-24bb-4a51-a2e4-8e376644dff7",
      "name": "Apollo: Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3568,
        2192
      ]
    },
    {
      "parameters": {
        "functionCode": "const response = $input.item.json;\nconst apolloContact = response.contact;\nif (!apolloContact || !apolloContact.id) {\n  throw new Error('[APOLLO] Could not get contact ID. Response: ' + JSON.stringify(response).slice(0, 300));\n}\nreturn [{ json: { ...$input.item.json, _apollo_contact_id: apolloContact.id } }];"
      },
      "id": "61045438-a454-4771-b210-f805b04d6480",
      "name": "Extract Apollo Contact ID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3792,
        2192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apollo.io/v1/emailer_campaigns/{{ $env.APOLLO_SEQUENCE_ID }}/add_contact_ids",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{ $env.APOLLO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"contact_ids\": [$json._apollo_contact_id],\n  \"emailer_campaign_id\": \"6999d89de5a07500150382ee\",\n  \"send_email_from_email_account_id\": \"6996175c1bd34a001d22250d\"\n}\n}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "6852cef5-a783-41c7-bb8e-c3620547bf70",
      "name": "Apollo: Add to Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4016,
        2192
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "66a10458-f8ec-4214-93d4-a535061bc487",
      "name": "Send Rate Limiter",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4464,
        2128
      ],
      "webhookId": "dbd9215d-4eb1-4200-959f-1940d3a9d7e6"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1692599893,
          "mode": "list",
          "cachedResultName": "Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nq0q34SO3f0_J4Bzuv4ZhihjPfcvFkk-PDI38GRIA1c/edit#gid=1692599893"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "outreach_status": "={{ \"in_progress\" }}",
            "in_sequence": "={{ \"TRUE\" }}",
            "last_touch": "={{ new Date().toISOString() }}",
            "last_channel": "={{ \"email\" }}",
            "variant_used": "={{ $json._phase }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "industry_vertical",
              "displayName": "industry_vertical",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seniority_tier",
              "displayName": "seniority_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "funding_stage",
              "displayName": "funding_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "persona_summary",
              "displayName": "persona_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "context_hook",
              "displayName": "context_hook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "personalization_themes",
              "displayName": "personalization_themes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "confidence_flag",
              "displayName": "confidence_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "validation_notes",
              "displayName": "validation_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outreach_blocked",
              "displayName": "outreach_blocked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "persona_error_at",
              "displayName": "persona_error_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_role",
              "displayName": "owner_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_title",
              "displayName": "sender_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "leadership_review",
              "displayName": "leadership_review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "routing_notes",
              "displayName": "routing_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "li_connect_msg",
              "displayName": "li_connect_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "li_dm_msg",
              "displayName": "li_dm_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outreach_status",
              "displayName": "outreach_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "in_sequence",
              "displayName": "in_sequence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_touch",
              "displayName": "last_touch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_channel",
              "displayName": "last_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "variant_used",
              "displayName": "variant_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "43e1b581-ec27-4972-84fe-e6b6e71ecbbd",
      "name": "Update Status in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4688,
        2128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i7CP4sLwCW7Wi7Gs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\n\n// Validate required ones first\nconst required = [\n  'OPENROUTER_API_KEY',\n  'APOLLO_API_KEY',\n  'GSHEET_DOC_ID',\n  'INSTANTLY_API_KEY',\n  'APOLLO_SEQUENCE_ID',\n  'INSTANTLY_CAMPAIGN_ID',\n  'SLACK_CHANNEL_LEADERSHIP',\n  'EVENT_START_DATE',\n  'EVENT_END_DATE',\n  'MAX_SENDS_PER_RUN'\n];\n\nconst missing = required.filter(k =>\n  !$env[k] || String($env[k]).trim() === ''\n);\n\nif (missing.length > 0) {\n  throw new Error('[ENV ERROR] Missing: ' + missing.join(', '));\n}\n\n// Attach ALL env vars to output\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    _env: {\n      ...$env\n    }\n  }\n}));"
      },
      "id": "04953179-0d59-423d-a706-23afdca83a6a",
      "name": "Validate Env Vars1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        2032
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3344,
        2192
      ],
      "id": "b5de6a6a-3c45-4057-b45d-476a2765269c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4240,
        2128
      ],
      "id": "0a7d6208-f220-46d1-be96-8b341bd8309c",
      "name": "Merge2"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger (8AM Weekdays)": {
      "main": [
        [
          {
            "node": "Validate Env Vars1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Outreach Queue": {
      "main": [
        [
          {
            "node": "Phase Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase Router": {
      "main": [
        [
          {
            "node": "Switch: Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Phase": {
      "main": [
        [
          {
            "node": "Build: LinkedIn Connect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build: LinkedIn DM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build: Post-Event Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build: Follow-up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: LinkedIn Connect": {
      "main": [
        [
          {
            "node": "Write LinkedIn Connect to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: LinkedIn DM": {
      "main": [
        [
          {
            "node": "Write LinkedIn DM to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build: Post-Event Email": {
      "main": [
        [
          {
            "node": "Pre-Write Email Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build: Follow-up 1": {
      "main": [
        [
          {
            "node": "Pre-Write Email Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Write Email Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo: Create Contact": {
      "main": [
        [
          {
            "node": "Extract Apollo Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Apollo Contact ID": {
      "main": [
        [
          {
            "node": "Apollo: Add to Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo: Add to Sequence": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send Rate Limiter": {
      "main": [
        [
          {
            "node": "Update Status in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Env Vars1": {
      "main": [
        [
          {
            "node": "Read Outreach Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Apollo: Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Send Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "be78dd0b-18da-40ca-b33c-19e142a8c71b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38f6b3bf77c638917f3fcddeaa4160863b4760c710851f556106a1d6efe29c16"
  },
  "id": "GSqah5SMOUZ4bpqO",
  "tags": []
}